{% load static %}
{% extends "base.html" %}
{% block content %}
<div class="about-me-container">
    <h1>About Me</h1>
    <p>
        Hi, my name is Danner Taylor. I am currently working in the financial industry as a banker. Also, I am a co-founder, CEO, and CFO for a local tech company focusing on developing a hub for services. I decided to learn about software development to pivot my career from the traditional financial industry to a more fintech-oriented industry. I also want to better understand how our platform at the start-up company is being built; to be able to contribute to the development. I plan to advance my technical knowledge in python to focus more on data and building dashboards. I believe that my new technical skills paired with my experience in the traditional financial industry will boost my career in the fintech industry.
    </p>
</div>
{% endblock %}

